<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div>
    <table class="table table">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
        </tr>
        <th:block th:each="user : ${userList}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td >
                    <a class="btn btn" role="button" th:href="@{/edit(id=${user.getId()})}">Update</a>
                    <a class="btn btn" role="button" th:href="@{/delete(id=${user.getId()})}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>

</div>
<a class="btn btn" href="/add" role="button">Add user</a>
</body>
</html>